.heading {

  font-size: 3em;

  &:first-child {
    margin-top: 0;
  }

}

.columns {
  display: flex;
}

.column {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1em;
}

.resources {

  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 2em;
  }

  img {
    display: block;
  }

}